@media(max-width:1370px){
  .empathize{
    &__title{
      font-weight: lighter;
    }
    &__subtitle{
      font-weight: 100;
    }
  } 
  .empathizeInfo{
    &__content{
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 2rem;
      text-align: center; 
      grid-gap: 0;
    }
    &__paragraph,&__list{
      font-size: 0.875rem;
    } 
  }
}

@media(max-width:767px){
  .offCanvas{
    width: 100%;
  }
  .navGrid__offMenu{
    width: 50px;
    &:hover{
      .navGrid__offMenu--img{
        transform: none;
      }
    }
    &--text{
      display: none;
    }
  }

  .empathize{
    &__grid-content{
      grid-template-columns: 1fr;
      padding-top: 1rem;
      &--col-1{
        order:2;
      }
      &--col-2{
        order:1;
      }
    }
    &__title{
      font-weight: lighter;
      text-align: center;
    }
    &__title-ex{
      font-weight: lighter;
      text-align: center;
    }
    &__subtitle{
      font-weight: 300;
      text-align: center;
      br{
        display: none;
      }
    }
    &__image{
      transform: translate(0);
      left: 0;
    }
  }
  #triggerEmpathize,#offEmpathize{
    display: none;
  }
  .swipeDown{
    display: block;
    color:#fff;
    text-align: center;
    font-weight: 100
  }

  .next-page{
    top: 2rem;
    bottom: unset;
    right: 1rem;
    padding: 5px 5px;
    width: 70px;
    background-color: #F9C254;
  }
}

@media(max-width:320px){
  .ideation__image{
    max-width: 80%;
  }
}