@media(max-width: 992px) {
    .navGrid{
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas : 
      ". . logo . ." 
      "home design process stake about" 
      ". . social . .";
      &__logo{
        grid-area: logo;
      }
      &__menu-1{
        grid-area: home;
      }
      &__menu-2{
        grid-area: design;
      }
      &__menu-3{
        grid-area: process;
      }
      &__menu-4{
        grid-area: stake;
      }
      &__menu-5{
        grid-area: about;
      }
      &__menu-6{
        grid-area: social;
      }
    }
  }

  @media(max-width: 670px){
    .navGrid{
      grid-template-columns: 1fr;
      grid-template-areas : "logo" ;
      grid-template-rows: 50px;
      &__menu{
        &-1,
        &-2,
        &-3,
        &-4,
        &-5,
        &-6{
          display: none;
        }
      }
    }
  }