@import '../../node_modules/bootstrap/scss/bootstrap';

:root{
  --mainColor: #DA322A;
  --secondColor: #751B19;
  --sidebarSpace: 100px;
  // padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
}
body{
  font-family: -apple-system, BlinkMacSystemFont, //Safari Mac/iOS, Chrome
  'Segoe UI',Roboto,Oxygen, //Window, Android, KDE
  Ubuntu,Cantarell,'Fira Sans', //Ubuntu, Gnome, Firefox OS
  'Open Sans','Droid Sans','Helvetica Neue',sans-serif //Old
}

.logo {
  width: 397px;
  height: 84px;
  object-fit: contain;
}
#hero {
  background-color: #252525;
  .parallax{
    min-height: 100vh;
    background-image: url(../../images/bg-home.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &_title{
    color: #fff;
  }
}
#main{

}