extends _template
block body
  -var empathize = 'active';
  include _nav
  section.empathize
    .container
      .col-12
        .empathize__intro(data-aos="fade-right") DAY 1      
        header
          h1.empathize__title(data-aos="fade-left") EMPATHIZE
          .row
            .col-12.col-lg-6
            .col-12.col-lg-6 
              p.empathize__subtitle(data-aos="fade-up") Welcome to your resource for planning and running a Google design sprint. 
            .col-12
              img.empathize__image(src='images/empathize.png')         
              img.empathize__image--sub(src='images/empathize-1.png')         