extends _template
block body
  section
    .jumbotron.jumbotron-fluid
      .container
        h1.display-4 Ascend Design System Guideline
        p.lead
        hr.my-4
        p.lead This is a design patterns from Ascend Customer Experience Team.
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more