extends _template
block body
  nav
    .navGrid
      .navGrid__logo
        img.img-fluid(src='images/logo.png')
      .navGrid__menu 
      .navGrid__menu Home
      .navGrid__menu Design Sprint 
      .navGrid__menu Process 
      .navGrid__menu Stakeholders 
      .navGrid__menu About Us 
      .navGrid__menu  
  section.hero
    .parallax
      header
        h1.hero__title Design Sprint
        h2.hero__subtitle by cx team
  section.main
    .container
      h2.main__title What is ASCEND Design Sprint?
      hr
      p.main__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.?
  section.sprint
    .container
      article
        .row
          .col-md-6.col-12.sprint__line
            .sprint__day DAY 1
            h2.sprint__title Empathize
          .col-md-6.col-12.sprint__image
            img.img-fluid(src="images/empathize.svg", alt="Empathize")
      article
        .row
          .col-md-6.col-12
            .sprint__day DAY 2
            h2.sprint__title UX Wireframe
          .col-md-6.col-12.order-md-first.sprint__image.sprint__line
            img.img-fluid(src="images/wireframe.svg", alt="UX Wireframe")
      article
        .row
          .col-md-6.col-12.sprint__line
            .sprint__day DAY 3
            h2.sprint__title User Interface
          .col-md-6.col-12.sprint__image
            img.img-fluid(src="images/interface.svg", alt="User Interface")
      article
        .row
          .col-md-6.col-12
            .sprint__day DAY 4
            h2.sprint__title  UI & Prototype
          .col-md-6.col-12.order-md-first.sprint__image.sprint__line
            img.img-fluid(src="images/prototype.svg", alt="UI & Prototype")
      article
        .row
          .col-md-6.col-12.sprint__line
            .sprint__day DAY 5
            h2.sprint__title User Testing
          .col-md-6.col-12.sprint__image
            img.img-fluid(src="images/test.svg", alt="User Testing")
  section.process
    .container