extends _template
block body
  section
    .jumbotron.jumbotron-fluid
      .container
        h1.display-4 Ascend Design System Guideline
        p.lead
        hr.my-4
        p.lead This is a design patterns from Ascend Customer Experience Team.
        a.btn.btn-primary.btn-lg(href='#', role='button') Explor More
    .container
      .row
        .col
          .card
            img.card-img-top(src='http://fakeimg.pl/250x100/')
            .card-body
              h5.card-title Title
              p.card-text Some quick example text to build on the card title and make up
              a.btn.btn-primary(href='#') Learn More
        .col      
          .card
            img.card-img-top(src='http://fakeimg.pl/250x100/')
            .card-body
              h5.card-title Title
              p.card-text Some quick example text to build on the card title and make up
              a.btn.btn-primary(href='#') Learn More
        .col      
          .card
            img.card-img-top(src='http://fakeimg.pl/250x100/')
            .card-body
              h5.card-title Title
              p.card-text Some quick example text to build on the card title and make up
              a.btn.btn-primary(href='#') Learn More