extends _template
block body
  nav
    .navGrid
      .navGrid__offMenu
        img.img-fluid(src="images/Menu-new.png", alt="", srcset="")
      .navGrid__logo
      .navGrid__about
  section.hero#hero
    .parallax
      header
        h1.hero__title Design
        h2.hero__subtitle Sprint
  section.main#main
    