extends _template
block body
  nav
    .navGrid
      .navGrid__offMenu
        img.img-fluid(src="images/Menu-new.png" alt="Mobile Menu", srcset="")
      .navGrid__logo
        img.img-fluid(alt="Logo" src="images/logo.png" srcset="images/logo.png 1x, images/logo@2x.png 2x")
      .navGrid__about
        span About Us
  section.hero
    .container
      .col-12
        header.header
          h1.header__title Design
          h2.header__subtitle Sprint
        img.img-fluid.header__image(alt="Logo" src="images/home.png" srcset="images/home.png 1x, images/home@2x.png 2x")  
  //- section.main
    
    