extends _template
block body
  -var home = 'active';
  include _nav
  section.hero
    .container
      .col-12
        header.header
          h1.header__title(data-aos="fade-up") Design
          h2.header__subtitle(data-aos="fade-down")  Sprint
        img.header__image(data-aos="zoom-in" alt="Logo" src="images/home.png" srcset="images/home.png 1x, images/home@2x.png 2x")
        button.btn.btn-link.header__button.mx-auto.d-block(data-aos="fade-right" data-aos-offset='0' data-aos-delay='500') Discover
  footer.footer.fixed-bottom © 2018 True Money Co. Ltd. All Rights Reserved.
    
    