extends _template
block body
  section
    .container
      .grid
        .grid__item
          p item1
        .grid__item
          p item2
        .grid__item
          p item3
        .grid__item
          p item4
        .grid__item
          p item5
        .grid__item
          p item6
      .self
        .self__item--a 
          p item a
        .self__item--b
          p item b
        .self__item--c
          p item c 
        .self__item--d 
          p item d
