extends _template
block body
  -var holder = 'active';
  include _nav
  section.stakeholder.animated.fadeInRight
    .container
      header.stakeholder__header
        h1.stakeholder__header--main DESIGN SPRINT
        h2.stakeholder__header--sub STAKEHOLDERS
      .gridTemplate
        .gridItem  
        .gridItem  
        .gridItem  
        .gridItem  
        .gridItem  
        .gridItem  