extends _template
block body
  -var ux = 'active';
  include _nav
  section.ideation.animated.fadeInRight
    .container
      .col-12
        .empathize__intro(data-aos="fade-right" data-aos-delay='400') DAY 2      
      .empathize__grid-content
        .empathize__grid-content--col-1
            img.img-fluid.ideation__image(src='images/ideation.png' data-aos="fade-right" data-aos-delay='800')
        .empathize__grid-content--col-2
          .empathize__grid-content__inner-grid 
            header.empathize__grid-content__inner-grid--row-1
              h1.empathize__title(data-aos="fade-left" data-aos-delay='600') IDEATION
              h2.empathize__title-ex(data-aos="fade-left" data-aos-delay='600') USER EXPERIENCE
              p.empathize__subtitle(data-aos="fade-up" data-aos-delay='600') Welcome to your resource for planning <br/>and running a Google design sprint.
          .empathize__grid-content__inner-grid--row-2 
            .swipeDown Swipe Down for More   
    .fixed-bottom.explore#triggerEmpathize(data-aos="fade-zoom-in" data-aos-offset='0' data-aos-delay='800')  User Experience
  .gotoDay3 Next  
  .backto1 Back 